* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex; /* Usa flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    min-height: 100vh; /* Garante altura total da tela */
    background-color: #afa6b9;
    margin: 0; /* Remove margens padrão */
}

section {
    display: flex; /* Flexbox para alinhar o conteúdo interno */
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os elementos internos horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    padding: 20px 45px; /* Ajuste de espaço interno */
    background: #afa6b9; /* Cor de fundo */
    width: 100%;
    max-width: 500px; /* Largura máxima do formulário */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px; /* Bordas arredondadas */
    margin: 0 auto; /* Centraliza horizontalmente */
}

section h2 {
    color: rgb(231, 228, 223);
    font-size: 2.5rem; /* Removido espaço extra */
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: rgb(231, 228, 223);
    font-size: 17px;
    margin-bottom: 4px;
}

form input, form textarea {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus, form textarea:focus {
    border-radius: 16px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid rgb(231, 228, 223);
    color: rgb(231, 228, 223);
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: rgb(231, 228, 223);
    color: black;
    border-radius: 16px;
}

/* Página obrigado */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #afa6b9;
    flex-direction: column;
}

.text {
    font-size: 45px;
    color: rgb(231, 228, 223);
    margin-bottom: 30px;
}

.paragrafo {
    color: rgb(231, 228, 223);
    margin-bottom: 50px;
}

.btn {
    padding: 15px 55px;
    background: rgb(231, 228, 223);
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.5s;
}

.btn:hover {
    border-radius: 16px;
}

nav {
    right: 15px;
    position: absolute;
    top: 90px;   
}

nav li {
    display: inline;
    margin: 0 0 0 35px;
}

nav a {
    text-transform: uppercase;
    color: rgb(172, 133, 74);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #000000;
    text-decoration: underline;
}

.logo{
    width:15%;
    position: relative;
    top: -20%;
    margin-right: 10%;
    display: block;
}
